@media only screen and (max-width: 600px) {
    
    .curriculum_profile {
        width: 95%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
    
    .curriculum {
        width: 95%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
    .profile_container {
        flex-direction: column;
        text-align: center;
        .profile_img {
            width: 150px;
            display: block;
            margin: 0 auto;
        }
    }
    .skills {
        grid-template-columns: 1fr;
        gap: 0rem;
    }

    .group-2 {
        grid-template-columns: 1fr;
        gap: 6rem;
    }

    .contacts {
        width: 95%;
        grid-template-columns: 1fr;
        padding: 2rem;
        gap: 7rem;
    }
    .contacts_body {
        grid-template-columns: 1fr;
    }
    
} 



    

