@media only screen and (max-width: 600px) {
    .corpo_principale {
        width: 98% !important;
    }
    .navigate_bar {
        width: 95%;
    }
    .search-label {
        left: 75%;
    }
    .button {
        position: relative;
        left: 83%;
    }
    .curriculum_profile {
        width: 95%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
    
    .curriculum {
        width: 95%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
    .profile_container {
        flex-direction: column;
        text-align: center;
        .profile_img {
            width: 150px;
            display: block;
            margin: 0 auto;
        }
    }
    .skills {
        grid-template-columns: 1fr;
        gap: 0rem;
    }

    .group-2 {
        grid-template-columns: 1fr;
        gap: 6rem;
    }
    .certificazioni {
        align-items: center;
    }
    .certificazioni_box{
        display: none ;
        width: 300px;
    }
    .card {
        width: 300px;
    }
    .certificazioni_box_2{
        display: none ;
    }
    .contacts {
        width: 95%;
        grid-template-columns: 1fr;
        padding: 2rem;
        gap: 7rem;
    }
    .contacts_body {
        grid-template-columns: 1fr;
    }
    
} 

@media only screen and (min-width: 600px) and ( max-width: 1700px) {
    .corpo_principale {
        margin: 0 auto;
        width: 70%;
        min-width: 750px;
    }
    .colonna_sinistra, .colonna_destra {
        display: none;
    }
    .certificazioni {
        align-items: center;
    }
    .certificazioni_box{
        display: none ;
        width: 300px;
    }
    .card {
        width: 300px;
    }
    .certificazioni_box_2{
        display: none ;
    }
}

@media only screen and (min-width: 1700px) {
    .certificazioni_box{
        display: none !important;
    }
}
