

/* all common layout page */
*,*::before,*::after {
    box-sizing: border-box;
}
* { /* ridimensionamento bordi per tutto */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

:root{
    --body-color: #0c0514; 
    --curriculum-color: #260a42;
    --mini-title-text-color: #F8E8D4;
    --description-color: #B1ABA3;
    --title-color-beige: #E0C19B;
    --curriculum-hover: #120321;
    --curriculum-hover-shadow: #2e1c4d;    
}
.darkmode{
    --body-color: #b3d5db; 
    --curriculum-color: #73b2a9;
    --mini-title-text-color: #12110f;
    --description-color: #ffffff;
    --title-color-beige: #080706;
    --curriculum-hover: #396962;
    --curriculum-hover-shadow: #b3d5db;
}

/* impostazioni darkmode */
.darkmode.body {
    background-image: url('./immagini/Background/background_sea.png');
}
#theme_switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--curriculum-color);
    display: flex;
    justify-content: center;
    align-items: center; 
}
#theme_switch svg{
    fill: var(--body-color);
}
#theme_switch svg:last-child{
    display: none;
}
.darkmode #theme_switch svg:first-child{
    display: none;
}
.darkmode #theme_switch svg:last-child{
    display: block;
}

.curriculum:hover, .curriculum_profile:hover, .contacts:hover, .navigate_bar:hover {
    box-shadow: 12px 12px 12px var(--curriculum-hover) inset,
    -10px  -10px 10px var(--curriculum-hover-shadow) inset;
}


.body {
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-size: 100%; /* grandezza font body */
    font-weight: 900;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}
html {  /* grendezza font tutto testo */
    font-size: 10px;
}
body {
    background-color: var(--body-color);
    color: var(--mini-title-text-color);
    /* background-image: url('./immagini/Background/background_purple.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

img {
    width: 100%;
  }
  
  .description, .skills_list, .description_school, .work_description_align, .soft_skills_align, .link, .certificazioni {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--description-color);
    font-style: italic;
  }
  
  .title_group_1, .Title_school, .title_esperienze, .title_lavorative, .soft_skills_title, .languages_title, .contacts_title {
    color: var(--title-color-beige);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    font-style: normal;
    font-size: 3em;
  }
  
  .title_list, .profile_title, .contacts_body_1_title {
    color: var(--title-color-beige);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    font-style: normal;
    font-size: 2rem;
  }
  
  li {
    padding-bottom: 1.5rem;
  }

  .highlight {
    background-color: #FFD700;
    color: #000000;
    font-weight: bold;
}
/* layouts */
.body {
    margin: 0 auto;
    width: fit-content;
}
.navigate_bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / -1;
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
    background-color: var(--curriculum-color);
    border-radius: 1.5em;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    height: 53px;
}


.search-label {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    border: 1px solid transparent;
    border-radius: 12px;
    overflow: hidden;
    background: #3D3D3D;
    padding: 9px;
    cursor: text;
    height: 35px;
    width: 130px;
    margin: 0 auto;
    margin-top: 9px;
    margin-left: 385px;
  }
  
  .search-label:hover {
    border-color: gray;
  }
  
  .search-label:focus-within {
    background: #464646;
    border-color: gray;
  }
  
  .search-label input {
    outline: none;
    width: 100%;
    border: none;
    background: none;
    color: rgb(162, 162, 162);
  }
  
  .search-label input:focus+.slash-icon,
  .search-label input:valid+.slash-icon {
    display: none;
  }
  
  .search-label input:valid~.search-icon {
    display: block;
  }
  
  .search-label input:valid {
    width: calc(100% - 22px);
    transform: translateX(20px);
  }
  
  .search-label svg,
  .slash-icon {
    position: absolute;
    color: #7e7e7e;
  }
  
  .search-icon {
    display: none;
    width: 12px;
    height: auto;
  }
  
  .slash-icon {
    right: 7px;
    border: 1px solid #393838;
    background: linear-gradient(-225deg, #343434, #6d6d6d);
    border-radius: 3px;
    text-align: center;
    box-shadow: inset 0 -2px 0 0 #3f3f3f, inset 0 0 1px 1px rgb(94, 93, 93), 0 1px 2px 1px rgba(28, 28, 29, 0.4);
    cursor: pointer;
    font-size: 12px;
    width: 15px;
  }
  
  .slash-icon:active {
    box-shadow: inset 0 1px 0 0 #3f3f3f, inset 0 0 1px 1px rgb(94, 93, 93), 0 1px 2px 0 rgba(28, 28, 29, 0.4);
    text-shadow: 0 1px 0 #7e7e7e;
    color: transparent;
  }


.button {
    width: fit-content;
    padding-top: 2px;
    padding-left: 85%;
} 
.curriculum_profile {
    border-radius: 1.5em;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 5rem;
    background-color: var(--curriculum-color);
}
.curriculum {
    border-radius: 1.5em;
    text-align: center;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 4rem;
    display: grid;
    padding: 5rem;
    background-color: var(--curriculum-color);
    grid-template-columns: 1fr 1fr;
    gap: 7rem;
}

.contacts {
    border-radius: 1.5em;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 5rem;
    background-color: var(--curriculum-color);
}

/* profile */
.profile_container{
    display: flex;
    gap: 4rem;
    text-align: left;
}
.profile.img {
    max-width: 250px;
}
.profile_name_firstName {
    color: var(--title-color-beige);
    font-weight: 200;
    font-size: clamp(2rem, 8vw ,4rem);
    text-transform: uppercase;
    display: block;
    margin-top: -0.7rem;
}
.profile_name_lastName {
    font-size: clamp(2.5rem, 6vw ,3.5rem);
    display: block;
    text-transform: uppercase;
}

/* Competenze */
.group-1 {
    grid-column: 1 / -1;
} 
.skills {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
}  
.skills_list {
    margin-top: 1.5rem;
    line-height: 1.5;
}
.title_group_1 {
    padding-bottom: 1rem;
}

/* Istruzione */

.group-2 {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
}

.Title_school {
    padding-top: 1rem;
}
.data {
    padding-top: 2rem;
    font-size: 1.5rem;
}
.title_school {
   padding-bottom: 0.5rem;
   font-size: 2rem;
}

/* Soft Skills */
.soft_skills_title {
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.soft_skills_align > p {
    padding-bottom: 1rem;
}

/* Lingue */
.languages_title {
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.progress_bar_ita, .progress_bar_rum, .progress_bar_eng {
    position: relative;
    margin: 1rem auto;
    height: 4em;
    width: 100%;
    background-color: var(--body-color);
    border-radius: 1.5em;
    color: var(--body-color);
    font-size: 2em;
}
.progress_bar_ita::before, .progress_bar_rum::before, .progress_bar_eng::before {
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    top: .5em;
    left: .5em;
    bottom: .5em;
    width: calc(var(--width, 0) * 1%);
    min-width: 2em;
    max-width: calc(100% - 1em);
    background-color: var(--curriculum-color);
    color: var(--title-color-beige);
    border-radius: 1em;
    padding-left: 1em;
}
.progress_bar_rum::before {
    max-width: calc(90% - 1em);
}
.progress_bar_eng::before {
    max-width: calc(70% - 1em);
}

/* Esperienze  Lavorative */
.work_title {
    padding-bottom: 0.5rem;
    font-size: 2.8rem;
}
.work_title_description {
    padding-bottom: 0.5rem;
    font-size: 1.8rem;
}
.work_description_allign {
    gap: 20px;
}
.work {
    padding-bottom: 6rem;
}  

/* Bottone Certificazioni */

.certificazioni > ul  > li {
    padding: 2.5rem;
}
.certificazioni {
    /* grid-template-columns: 1fr 1fr;
    display: grid;
    position: absolute; */
}
.certificazioni_title {
    place-content: center;
    padding-bottom: 20rem;
    /* margin-right: 11em; */
}
.certificazioni_button {
    border-radius: 1.3rem;
    width: 200px;
    height: 30px;
}
.certificazioni_box_2 {
    display: flex;
    gap: 20px;
    width: 300px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    position: relative;
    display: none;
}
.card {
    scroll-snap-align: center;
    box-sizing: border-box;
    padding: 20px 30px;
    flex-shrink: 0;
    width: 300px;
    background-color: #E0C19B;
    backdrop-filter: blur(10px);
    border-radius: 14px;
    text-align: center;
    font-size: clamp(1rem, 8vw ,2rem);
}


/* Autorizzazione trattamento dati */
.autorizzo_trattamento {
    grid-column: 1 / -1;
    font-size: 1.5em;
}


/* Contatti */
.contacts {
    text-align: center;
    backdrop-filter: blur(10px);
}
.contacts_body {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin-top: 2rem;
    img{
        width: 20px;
        padding-right: 5px;
    }
    .link{
        font-size: 2rem;
    }
}
.contacts_body_1_title {
    margin-bottom: 1rem;
}
.contacts_body_title  {
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 1.2rem;
    .link{
        font-size: 1.5rem;
    }
}
.colonna_sinistra {
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width:  20%;
}
.colonna_destra {
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 20%;
}