

/* all common layout page */
*,*::before,*::after {
    box-sizing: border-box;
}
* { /* ridimensionamento bordi per tutto */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

:root{
    --body-color: #161020; 
    --curriculum-color: #281d3a;
    --mini-title-text-color: #F8E8D4;
    --description-color: #B1ABA3;
    --title-color-beige: #E0C19B;
    --curriculum-hover: #1c152e;
    --curriculum-hover-shadow: #382e55;    
}
.darkmode{
    --body-color: #90b2b7; 
    --curriculum-color: #6d8ba3;
    --mini-title-text-color: #12110f;
    --description-color: #ffffff;
    --title-color-beige: #080706;
    --curriculum-hover: #3e576d;
    --curriculum-hover-shadow: #92aabd;
}
.darkmode.body {
    background-image: url('./immagini/Background/background_sea.png');
}

.body {
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-size: 100%; /* grandezza font body */
  font-weight: 900;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
html {  /* grendezza font tutto testo */
    font-size: 10px;
}
body {
    background-color: var(--body-color);
    color: var(--mini-title-text-color);
    background-image: url('./immagini/Background/background_purple.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

img {
    width: 100%;
  }
  
  .description, .skills_list, .description_school, .work_description_align, .soft_skills_align, .link {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--description-color);
    font-style: italic;
  }
  
  .title_group_1, .Title_school, .title_esperienze, .title_lavorative, .soft_skills_title, .languages_title, .contacts_title {
    color: var(--title-color-beige);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    font-style: normal;
    font-size: 3em;
  }
  
  .title_list, .profile_title, .contacts_body_1_title {
    color: var(--title-color-beige);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    font-style: normal;
    font-size: 2rem;
  }
  
  li {
    padding-bottom: 1.5rem;
  }


/* layouts */
#theme_switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--curriculum-color);
    display: flex;
    justify-content: center;
    align-items: center; 
}
#theme_switch svg{
    fill: var(--body-color);
}
#theme_switch svg:last-child{
    display: none;
}
.darkmode #theme_switch svg:first-child{
    display: none;
}
.darkmode #theme_switch svg:last-child{
    display: block;
}


.curriculum_profile {
    border-radius: 1.5em;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 5rem;
    background-color: var(--curriculum-color);
}
.curriculum {
    border-radius: 1.5em;
    text-align: center;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 4rem;
    display: grid;
    padding: 5rem;
    background-color: var(--curriculum-color);
    grid-template-columns: 1fr 1fr;
    gap: 7rem;
}

.curriculum:hover, .curriculum_profile:hover, .contacts:hover {
    box-shadow: 12px 12px 12px var(--curriculum-hover) inset,
    -10px  -10px 10px var(--curriculum-hover-shadow) inset;
}

.contacts {
    border-radius: 1.5em;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 5rem;
    background-color: var(--curriculum-color);
}

/* profile */
.profile_container{
    display: flex;
    gap: 4rem;
    text-align: left;
}
.profile.img {
    max-width: 250px;
}
.profile_name_firstName {
    color: var(--title-color-beige);
    font-weight: 200;
    font-size: clamp(2rem, 8vw ,4rem);
    text-transform: uppercase;
    display: block;
    margin-top: -0.7rem;
}
.profile_name_lastName {
    font-size: clamp(2.5rem, 6vw ,3.5rem);
    display: block;
    text-transform: uppercase;
}

/* Competenze */
.group-1 {
    grid-column: 1 / -1;
} 
.skills {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
}  
.skills_list {
    margin-top: 1.5rem;
    line-height: 1.5;
}
.title_group_1 {
    padding-bottom: 1rem;
}

/* Istruzione */

.group-2 {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
}

.Title_school {
    padding-top: 1rem;
}
.data {
    padding-top: 2rem;
    font-size: 1.5rem;
}
.title_school {
   padding-bottom: 0.5rem;
   font-size: 2rem;
}

/* Soft Skills */
.soft_skills_title {
    margin-top: 6rem;
    margin-bottom: 2rem;
}

/* Lingue */
.languages_title {
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.progress_bar_ita, .progress_bar_rum, .progress_bar_eng {
    position: relative;
    margin: 1rem auto;
    height: 4em;
    width: 100%;
    background-color: var(--body-color);
    border-radius: 1.5em;
    color: var(--body-color);
    font-size: 2em;
}
.progress_bar_ita::before, .progress_bar_rum::before, .progress_bar_eng::before {
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    top: .5em;
    left: .5em;
    bottom: .5em;
    width: calc(var(--width, 0) * 1%);
    min-width: 2em;
    max-width: calc(100% - 1em);
    background-color: var(--curriculum-color);
    color: var(--title-color-beige);
    border-radius: 1em;
    padding-left: 1em;
}
.progress_bar_rum::before {
    max-width: calc(90% - 1em);
}
.progress_bar_eng::before {
    max-width: calc(70% - 1em);
}

/* Esperienze  Lavorative */
.work_title {
    padding-bottom: 0.5rem;
    font-size: 2.8rem;
}
.work_title_description {
    padding-bottom: 0.5rem;
    font-size: 1.8rem;
}
.work_description_allign {
    gap: 20px;
}

/* Contatti */
.contacts {
    text-align: center;
}
.contacts_body {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin-top: 2rem;
    img{
        width: 20px;
        padding-right: 5px;
    }
    .link{
        font-size: 2rem;
    }
}
.contacts_body_1_title {
    margin-bottom: 1rem;
}
.contacts_body_title  {
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 1.2rem;
    .link{
        font-size: 1.5rem;
    }
}

